* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: hsl(185, 75%, 39%);
  background-image: url(/profile-card-component-main/images/bg-pattern-top.svg),
    url(/profile-card-component-main/images/bg-pattern-bottom.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: right 50vw top -60vh, left 50vw top 45vh;
  font-family: 'Kumbh Sans', sans-serif;

  width: 100vw;
  height: 100vh;
}

.card {
  width: 35rem;
  height: 37.5rem;
  margin: 25vh auto;
  background-color: white;
  border-radius: 15px;
}
